// Color Variables
$light-grey: #f6f6f6;
$darker-grey: #e6e6e6;
$primary: #294996;
$white: #ffffff;
$error: #cc0000;

html,
body {
    width: 100%;
}

#App {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    font-family: 'Roboto';
}

#Image {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.Error {
    font-size: 20px;
    color: $error;
    text-align: center;
}

#imagesWrapper {
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
}

.Images-item {
    display: inline-block;
    font-size: 0;
    width: 30%;
    max-width: 200px;
    height: 100px;
    overflow: hidden;
    position: relative;

    &.selected,
    &:hover {
        &::after {
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
            background: $primary;
            opacity: 0.5;
        }
    }

    img {
        width: 100%;
        height: auto;
    }
}

#relatedImages {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.Image_related {
    width: 30%;
    max-width: 200px;
    height: auto;
    padding: 0px 10px 10px 0px;
    display: inline-block;
    box-sizing: border-box;
}

#imageLabels {
    width: 30%;
    display: inline-block;
    margin: 50px 0px 50px 50px;
    vertical-align: top;
}

.Image_score {
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;

    &_label,
    &_value {
        display: block;
        box-sizing: border-box;
    }

    &_label {
        min-height: 40px;
        line-height: 20px;
        background: $darker-grey;
        padding: 5px;
    }

    &_value {
        line-height: 20px;
        min-height: 20px;
        background: $light-grey;
        padding: 5px;
    }
}

#selectedImage {
    display: inline-block;
    width: calc(100% - 405px);
    box-sizing: border-box;
    padding: 50px;

    img {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #selectedImage {
        width: 100%;
        display: block;
    }

    #imageLabels {
        width: 100%;
        display: block;
    }
}
